@font-face {
    font-family:'Gotham Black';
    src: url('../fonts/Gotham/Gotham-Black.otf');
}

@font-face {
    font-family:'Gotham Bold';
    src: url('../fonts/Gotham/Gotham-Bold.otf');
}

@font-face {
    font-family:'Gotham Medium';
    src: url('../fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
    font-family:'Gotham Book';
    src: url('../fonts/Gotham/Gotham-Book.otf');
}

@font-face {
    font-family:'Gotham Book Italic';
    src: url('../fonts/Gotham/Gotham-BookItalic.otf');
}