$bgdark: #121011;
$black: #000;
$white: #fff;
$darkgrey: #77797a;
$mediumgrey: #979797;
$softlightgrey: #b2b3b3;
$lightgrey: #f6f8f9;
$verylightgrey: #cdcccc;
$superlightgrey: #efefef;
$bluegray: #a4adb5;
$darkbluegrey: #8b9396;
$light-bluegray: #c8ced2;
$strongpurple: #f200dd;
$purple: #9e6db5;
$softpurple: #b089c3;
$bgfb: #3b579e;
$bgfbhover: #2f457d;
$stabilo: #00ff4e;
$dakrorange: #ffc056;
$orange: #ff6e5a;
$red: #ff0000;
$lightbrown: #f3f2e7;

$bge3: #e3e3e3;
$listing-head: #707070;
$listing-row: #eaeaea;
$color-link: #4ab0f3;
$listing-disable: #dbdbdb;
